body {
  background-color: rgb(220, 242, 248);
}

/* TABLERO DE JUEGO */
.game-row{
  flex:auto;
  display: flex;
}

.button-container{
  flex:auto;
  display: flex;
}

.on-button{
    background-color: #F9E325;
    border: 1px black solid;
    cursor: pointer;
    flex:auto
}

.off-button{
  background-color: #464D65;
  border: 1px black solid;
  cursor: pointer;
  flex: auto;
}


/* LEFT RIGHT INTERFACE */
.main-container{
  width: 100vw;
  height: 45vw;
  display: flex;
}

.left-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 0vw;
  padding-left: 32.5vw;
  padding-right: 32.5vw;
}

/* BOTONES ARRIBA DEL JUEGO */
.stats-container{
  height: 10vw;
  display: flex;
  justify-content: space-around;
}

.time-counter{
  width: 20vw;
  padding-bottom: 1vw;
  padding-top: 5vw;
  background-color: #C4C4C4;
  background-clip: content-box;
  text-align: center;
  line-height: 4vw;
  font-size: 1.7vw;
}

.stats-icons{
  height: 9vw;
  width: 4.5vw;
  padding-top: 2.3vw;
  padding-bottom: 2.2vw;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 20%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 80vh);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

/* Barra de Navegación */
.nav-container{
  height: 7vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #C4C4C4;
  width: 100vw;
}

.nav-text {
  padding: 15px 25px;
  font-size: 1.8vw;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.nav-text:link{
  text-decoration: none;
}
.nav-text:hover {background-color: #3e8e41}

.nav-text:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}