@import '~antd/dist/antd.css';

.on-button{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border: 1px black solid;
}

.off-button{
  background-color: darkblue;
  height: 100px;
  width: 100px;
  border: 1px black solid;
}

.game-board {
  display: flex;
  justify-content: center;
  padding: 5%;
}
.game-row{
  display: flex;
}