*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contenedorFormulario{
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    width: 90%;
    min-width: 25vw;
    max-width: 500px;
    margin: 48px auto;
    color: #FFF;
    border-radius: 5px;
}



.contenedorFormulario .toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #FF851B;
    border-bottom: 2px solid #FF851B;
    transition: all 0.5s ease;
    cursor: pointer;
    
}



.contenedorFormulario .toggle span{
    letter-spacing: 1px;
}


.contenedorFormulario .toggle:hover{
    border-top: 2px solid #0075D9;
    border-bottom: 2px solid #0075D9;
}


.contenedorFormulario h2{
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    color: #FFF;
}



.contenedorFormulario input[type = 'text'],
.contenedorFormulario input[type = 'password'],
.contenedorFormulario input[type = 'email'] {
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #FFF;
    border: none;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 4px solid #FF851B;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 15px 0;
    transition: all 0.5s ease;
}

.input-container{
        display: flex;
        width: 100%;
}

.icon {
    padding: 15px;
    color: white;
    min-width: 45px;
    text-align: center;
  }



.contenedorFormulario input[type = 'text']:focus,
.contenedorFormulario input[type = 'password']:focus,
.contenedorFormulario input[type = 'email']:focus {
    border-bottom: 4px solid #0075D9;
}


.contenedorFormulario input[type = 'submit'] {
    background: #FF851B;
    color: #FFF;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 2px;
}



.contenedorFormulario input[type = 'submit']:hover {
    background: rgba(0, 117, 217, 0.7);
}



.contenedorFormulario .reset-password {
    background: #FF851B;
    color: #FFF;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 10px auto;
    text-align: center;
    border-radius: 2px;

    /*background: rgba(0, 117, 217, 0.7);
    width: 100%;
    padding: 15px 0;*/

}

.contenedorFormulario .reset-password:hover{
    background: rgba(0, 117, 217, 0.7);    
}

.contenedorFormulario .reset-password a {
    color: #FFF;
    text-decoration: none;
    font-size: 16px;
}

.contenedorFormulario .toggle a {
    color: #FFF;
    text-decoration: none;
    font-size: 12px;
}


.contenedorFormulario .formulario{
    padding: 40px 40px 10px 40px;
    display: block;
    justify-content: space-between;
}


